name: Integration Tests

on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install required apt packages
        run: sudo apt-get update && sudo apt-get install openssl
        shell: bash
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.19
      - name: Set up CouchDB 1
        uses: "joelnb/couchdb-action@master"
        with:
          couchdb version: '1'
      - name: Set up CouchDB 2
        uses: "joelnb/couchdb-action@master"
        with:
          couchdb version: '2'
          couchdb port: 5985
      - name: Set up CouchDB 3
        uses: "joelnb/couchdb-action@master"
        with:
          couchdb version: '3'
          couchdb port: 5987
          couchdb user: admin
          couchdb password: adm1nP4rty
      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash
      - name: Create test fixtures
        run: ./.scripts/generate_fixtures.sh
        shell: bash
      - name: Test
        run: SOFA_TEST_HOST_1=http://127.0.0.1:5984 SOFA_TEST_HOST_2=http://127.0.0.1:5985 SOFA_TEST_HOST_3=http://127.0.0.1:5987 go test -v ./...
